{% load static %}
<html >
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="{% url 'home' %}" class="active">Главная</a></li>
			    <li><a href="/admin">Админ панель</a></li>   
			</ul>
		</div>
		<div id="main_2">
			<div id="content" class="left">
                {% block content %}
                {% endblock %}
				<div class="cl">&nbsp;</div>
			</div>
			<a href="{% url 'home' %}" class="shine-button">Назад</a>
		</div>
	<div id="footer">
		<p class="copy right">Copyright &copy;  2022 </p>
	</div>
</div>
</body>
</html>